<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to @restaurant.email %>
</p>

<p>
  <b>Website:</b>
  <%= link_to @restaurant.website, @restaurant.website %>
</p>

<p>
  <b>Owner:</b>
  <%= User.find_by_id(@restaurant.user_id).name %>
</p>

<p>
  <b>Dishes:</b>
  <ul>
  <% @restaurant.dishes.each do |dish| %>
    <li><%= link_to dish.name, restaurant_dish_url(@restaurant, dish) %></li>
  <% end %>
  </ul>
</p>

<% if can? :edit, Restaurant %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<% end %>
<%= link_to 'Back', restaurants_path %>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% @restaurant.pictures.each_with_index do |picture,i| %>
      <div class="item <%= 'active' if i == 0%>"><%= image_tag picture.url, :class => "img-rounded" %></div>
    <% end %>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a></div>
</div>
